In [1]:
import pandas as pd

df = pd.read_csv("input.txt", sep="-|:\s|\s", names=["min", "max", "char", "password"])
df

     min  max char            password
0      2    4    r             prrmspx
1      5    6    p           hpzplphxb
2      5    8    t         ttttbtttttc
3      1    6    k              kkkkkk
4      1    3    q                qqqq
..   ...  ...  ...                 ...
995    1   14    h     hhhhhhhhhhhhhhh
996    9   10    w          swwwwwwwjq
997    1   13    j  xjwjjljjjjdjjjjmjj
998   11   13    m  smmhmmcmmmkmdmmmmm
999   15   17    p   ppppppppppppppsps

[1000 rows x 4 columns]

---
### Part 1:
Cukup dengan *lambda function* sederhana. Nilai pengecekan valid disimpan di column ```valid1```.

In [2]:
df["valid1"] = df.apply(lambda x: x["min"] <= x["password"].count(x["char"]) <= x["max"], axis=1)
print("Part 1 : ", len(df[df["valid1"]].index))

Part 1 :  467

---
### Part 2:
Sempat salah karena kukira harus ada di kedua posisi. Jadi cukup cek kedua posisi dan bandingkan dengan ```!=```.

In [3]:
df["valid2"] = df.apply(lambda x: (x["password"][x["min"]-1] == x["char"]) != (x["password"][x["max"]-1] == x["char"]), axis=1)
print("Part 2 : ", len(df[df["valid2"]].index))

Part 2 :  441

---
DataFrame dengan masing-masing validitas *password* di kolom ```valid1``` dan ```valid2```.

In [4]:
df

     min  max char            password  valid1  valid2
0      2    4    r             prrmspx    True    True
1      5    6    p           hpzplphxb   False    True
2      5    8    t         ttttbtttttc   False    True
3      1    6    k              kkkkkk    True   False
4      1    3    q                qqqq   False   False
..   ...  ...  ...                 ...     ...     ...
995    1   14    h     hhhhhhhhhhhhhhh   False   False
996    9   10    w          swwwwwwwjq   False   False
997    1   13    j  xjwjjljjjjdjjjjmjj    True    True
998   11   13    m  smmhmmcmmmkmdmmmmm    True   False
999   15   17    p   ppppppppppppppsps    True   False

[1000 rows x 6 columns]